<h1>GOLD'S GYM FITNESS INSTITUTE</h1>

<h1> About us</h1>
<div class="info">
    <p>Gold's Gym International, Inc. is an American chain of international co-ed fitness centers originally started by
        Joe Gold in Venice Beach, California. Each gym offers a variety of cardio and strength
        training equipment as well as group exercise programs. Its headquarters have since relocated to Dallas.</p>

    <h1>Corporate Information</h1>
    <p>Gold's Gym is privately owned. It was acquired from its previous owner, private equity firm Brockway Moran &
        Partners, by Robert Rowling's TRT Holdings in 2004 for approximately $158 million. Brockway Moran had acquired
        the
        company in 1999 for more than $50 million.Corporate headquarters are in the Dallas metropolitan area.
        Since Gold's Gym opened its first international location in Canada in 1985, the company has expanded its global
        franchising program to include nearly 180 international gyms including operations in Russia, India, Australia,
        Costa
        Rica, Japan, the United Kingdom, Netherlands, Germany, Egypt, Saudi Arabia, Mexico, Peru, Indonesia, Spain,
        Poland,
        Venezuela, Mongolia and the Philippines.
        In 2017, the company opened its first location in Amman, Jordan.
        There were 58 new Gold's Gym developed all over the world in 2016. Chef Robert Irvine also become a Gold's Gym
        franchisees in 2016 and opened Gold's Gym Largo, Florida.</p>
    </div>
<h2>Fees struture</h2>
<table class="table">
    <thead>
        <tr>
            <th>Month</th>
            <th>TrainerName</th>
            <th>Fees</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let struture of structures">
            <td>{{struture.Month}}</td>
            <td>{{struture.TrainerName}}</td>
            <td>{{struture.Fees}}</td>
        </tr>
    </tbody>
</table>

<h1>References</h1>
    <P>1.Brown, Erika (August 7, 2003). "Investing In Obesity". Forbes. Retrieved September 24, 2007.
        2."Gold's Gym Opens New Fitness Facility in Linglestown" (Press release). December 21, 2011. Retrieved January
        6,
        2012.
        3."About Gold's". Gold's Gym. Retrieved July 15, 2014.
        4."Gold's Gym Celebrates 50th Anniversary; Inducts Arnold Schwarzenegger Into The Gold's Gym Hall... -- DALLAS,
        Aug.
        26, 2015 /PRNewswire/ --". PRNewswire. August 26, 2015. Retrieved February 22, 2016. 5. "Class Action Lawsuit
        Against VASA Fitness and Paramount Acceptance". Retrieved February 12, 2017.</P>
